@using eGameShop.Data;
@using eGameShop.Models;

@model List<Game>

@{
	ViewData["Title"] = "List of Games";
}

<div class="row">
	<div class="col-md-8 offset-md-2">
		<table>
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.ImageURL)</th>
				</tr>
			</thead>
			<tbody></tbody>
			<tr>
				<td></td>
			</tr>
		</table>

	</div>
</div>

@*Define ViewData*@

@*Write Code*@

@*<h1>Welcom to Games View - Index </h1>*@
